/node_modules
/public/hot
/public/storage
/bootstrap/cache/*
/database/*.sqlite
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.idea
/.vscode